# BDDA PROJECT 2

## PART (1) INTRODUCTION

## BDDA PROJECT 1
### UMANG DHAR DWIVEDI 015017
 IN THIS PYTHON FILE WE WILL TRY TO UNDERSTAND DATA AND PERFORM VARIOS ACTIONS UNDER CERTAIN PARTS 
 THIS PROJECT CONTAINS CSV FILE NAMED INSURANCE.CSV WHICH FURTHER HAS COULMNS HEADS AS 
 --AGE 
 --SEX
 --BMI
 --CHILDREN
 --SMOKER
 --REGION
 --CHARGES

The following coding has been done on Virtual Machine

1. START HADOOP USING allstart.sh
2. START SPARK USING pysparknb
3. Copy the data using hadoop fs -copyFromLocal filename

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Basics').getOrCreate()

In [ ]:
df=spark.read.csv('insurance.csv',header=True,inferSchema=True)

#### inferschema helps spark in understanding data as spark only reads data in form of string

## PART 2 Data Understanding/Exploration

In [ ]:
df.show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df.count()

1338

In [ ]:
df.columns #to get the header(title of the coulmns)

['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [ ]:
df.printSchema() #to understand the coulmns attributes,their type if null values permited or not

root
 |-- age: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- bmi: double (nullable = true)
 |-- children: integer (nullable = true)
 |-- smoker: string (nullable = true)
 |-- region: string (nullable = true)
 |-- charges: double (nullable = true)

In [ ]:
df.describe().show() ## used to see the statistical values of the data

+-------+------------------+------+------------------+-----------------+------+---------+------------------+
|summary|               age|   sex|               bmi|         children|smoker|   region|           charges|
+-------+------------------+------+------------------+-----------------+------+---------+------------------+
|  count|              1338|  1338|              1338|             1338|  1338|     1338|              1338|
|   mean| 39.20702541106129|  null|30.663396860986538|  1.0949177877429|  null|     null|13270.422265141257|
| stddev|14.049960379216147|  null| 6.098186911679012|1.205492739781914|  null|     null|12110.011236693992|
|    min|                18|female|             15.96|                0|    no|northeast|         1121.8739|
|    max|                64|  male|             53.13|                5|   yes|southwest|       63770.42801|
+-------+------------------+------+------------------+-----------------+------+---------+------------------+

## PART (3) Grabbing Data {reading only data part that we want}

In [ ]:
df['bmi'] ##lets understand bmi coulmn

Column<b'bmi'>

In [ ]:
type(df['bmi']) ##rdd helps in converting data in form of rows and coulmns

pyspark.sql.column.Column

In [ ]:
df.select('bmi').show()

+------+
|   bmi|
+------+
|  27.9|
| 33.77|
|  33.0|
|22.705|
| 28.88|
| 25.74|
| 33.44|
| 27.74|
| 29.83|
| 25.84|
| 26.22|
| 26.29|
|  34.4|
| 39.82|
| 42.13|
|  24.6|
| 30.78|
|23.845|
|  40.3|
|  35.3|
+------+
only showing top 20 rows

In [ ]:
type(df.select('bmi'))

pyspark.sql.dataframe.DataFrame

In [ ]:
df.head(2) ##spark stores data in form of rows and coulmns not in form of dataframe

[Row(age=19, sex='female', bmi=27.9, children=0, smoker='yes', region='southwest', charges=16884.924),
 Row(age=18, sex='male', bmi=33.77, children=1, smoker='no', region='southeast', charges=1725.5523)]

In [ ]:
df.head(30)[4] ## 30 used to take the number of rows and in that we want to view value of row that is numbered 4

Row(age=32, sex='male', bmi=28.88, children=0, smoker='no', region='northwest', charges=3866.8552)

In [ ]:
df.select(['sex','bmi','charges']) ##now lets see the values if we only need 3 coulmn

DataFrame[sex: string, bmi: double, charges: double]

In [ ]:
df.select(['sex','bmi','charges']).show()

+------+------+-----------+
|   sex|   bmi|    charges|
+------+------+-----------+
|female|  27.9|  16884.924|
|  male| 33.77|  1725.5523|
|  male|  33.0|   4449.462|
|  male|22.705|21984.47061|
|  male| 28.88|  3866.8552|
|female| 25.74|  3756.6216|
|female| 33.44|  8240.5896|
|female| 27.74|  7281.5056|
|  male| 29.83|  6406.4107|
|female| 25.84|28923.13692|
|  male| 26.22|  2721.3208|
|female| 26.29| 27808.7251|
|  male|  34.4|   1826.843|
|female| 39.82| 11090.7178|
|  male| 42.13| 39611.7577|
|  male|  24.6|   1837.237|
|female| 30.78| 10797.3362|
|  male|23.845| 2395.17155|
|  male|  40.3|  10602.385|
|  male|  35.3|  36837.467|
+------+------+-----------+
only showing top 20 rows

In [ ]:
 os =df.filter("bmi<18.5").show(30) ##lets see if someone has bmi index less than 18.5 which is considered underweight

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 23|  male|17.385|       1|    no|northwest| 2775.19215|
| 32|female|17.765|       2|   yes|northwest| 32734.1863|
| 18|  male| 15.96|       0|    no|northeast|  1694.7964|
| 51|female| 18.05|       0|    no|northwest|  9644.2525|
| 19|female|  17.8|       0|    no|southwest|   1727.785|
| 18|  male| 17.29|       2|   yes|northeast| 12829.4551|
| 27|female|17.955|       2|   yes|northeast|15006.57945|
| 19|  male| 17.48|       0|    no|northwest|  1621.3402|
| 26|female|17.195|       2|   yes|northeast|14455.64405|
| 21|female|16.815|       1|    no|northeast| 3167.45585|
| 21|female|  17.4|       1|    no|southwest|   2585.269|
| 26|  male| 17.67|       0|    no|northwest|  2680.9493|
| 57|  male|18.335|       0|    no|northeast|11534.87265|
| 37|female| 17.29|       2|    no|northeast|  6877.9801|
| 60|female|18.335|       0|    no|northeast|13204.28565|
| 39|female|  18.3|       5|   yes|southwest|   19023.26|
| 52|female|18.335|       0|    no|northwest| 9991.03765|
| 35|  male| 17.86|       1|    no|northwest|  5116.5004|
| 38|  male|16.815|       2|    no|northeast| 6640.54485|
| 28|female| 17.29|       0|    no|northeast|  3732.6251|
+---+------+------+--------+------+---------+-----------+

We find that 20 people are overweight

In [ ]:
df.filter((df['bmi']<18.5)&(df['sex']>'female')).show()

+---+----+------+--------+------+---------+-----------+
|age| sex|   bmi|children|smoker|   region|    charges|
+---+----+------+--------+------+---------+-----------+
| 23|male|17.385|       1|    no|northwest| 2775.19215|
| 18|male| 15.96|       0|    no|northeast|  1694.7964|
| 18|male| 17.29|       2|   yes|northeast| 12829.4551|
| 19|male| 17.48|       0|    no|northwest|  1621.3402|
| 26|male| 17.67|       0|    no|northwest|  2680.9493|
| 57|male|18.335|       0|    no|northeast|11534.87265|
| 35|male| 17.86|       1|    no|northwest|  5116.5004|
| 38|male|16.815|       2|    no|northeast| 6640.54485|
+---+----+------+--------+------+---------+-----------+

Interesting point  that  males who are underweight are from  north region

In [ ]:
df.filter((df['bmi']<18.5)&(df['age']>25)).show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 32|female|17.765|       2|   yes|northwest| 32734.1863|
| 51|female| 18.05|       0|    no|northwest|  9644.2525|
| 27|female|17.955|       2|   yes|northeast|15006.57945|
| 26|female|17.195|       2|   yes|northeast|14455.64405|
| 26|  male| 17.67|       0|    no|northwest|  2680.9493|
| 57|  male|18.335|       0|    no|northeast|11534.87265|
| 37|female| 17.29|       2|    no|northeast|  6877.9801|
| 60|female|18.335|       0|    no|northeast|13204.28565|
| 39|female|  18.3|       5|   yes|southwest|   19023.26|
| 52|female|18.335|       0|    no|northwest| 9991.03765|
| 35|  male| 17.86|       1|    no|northwest|  5116.5004|
| 38|  male|16.815|       2|    no|northeast| 6640.54485|
| 28|female| 17.29|       0|    no|northeast|  3732.6251|
+---+------+------+--------+------+---------+-----------+

#### here we check the number of people who are under weight and below 25 years of age

In [ ]:
df.filter("bmi<18.5").select(['smoker']).show() ##if we only want to see how many people who are underweight are smokers

+------+
|smoker|
+------+
|    no|
|   yes|
|    no|
|    no|
|    no|
|   yes|
|   yes|
|    no|
|   yes|
|    no|
|    no|
|    no|
|    no|
|    no|
|    no|
|   yes|
|    no|
|    no|
|    no|
|    no|
+------+

In [ ]:
df.filter("bmi>29").show(30)   ##lets see how many are overweight

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
| 60|female|36.005|       0|    no|northeast|13228.84695|
| 30|female|  32.4|       1|    no|southwest|   4149.736|
| 18|  male|  34.1|       0|    no|southeast|   1137.011|
| 34|female| 31.92|       1|   yes|northeast| 37701.8768|
| 55|female|32.775|       2|    no|northwest|12268.63225|
| 31|  male|  36.3|       2|   yes|southwest|    38711.0|
| 22|  male|  35.6|       0|   yes|southwest|  35585.576|
| 28|  male|  36.4|       1|   yes|southwest|51194.55914|
| 62|female|32.965|       3|    no|northwest|15612.19335|
| 35|  male| 36.67|       1|   yes|northeast| 39774.2763|
| 60|  male|  39.9|       0|   yes|southwest|  48173.361|
| 31|female| 36.63|       2|    no|southeast|  4949.7587|
| 37|female|  30.8|       2|    no|southeast|   6313.759|
| 38|  male| 37.05|       1|    no|northeast|  6079.6715|
| 55|  male|  37.3|       0|    no|southwest|20630.28351|
| 18|female|38.665|       2|    no|northeast| 3393.35635|
| 28|female| 34.77|       0|    no|northwest|  3556.9223|
| 36|  male|  35.2|       1|   yes|southeast|  38709.176|
| 18|female|35.625|       0|    no|northeast| 2211.13075|
| 21|female| 33.63|       2|    no|northwest|  3579.8287|
+---+------+------+--------+------+---------+-----------+
only showing top 30 rows

In [ ]:
ow=df.filter(df['bmi']>29).collect()

In [ ]:
len(ow)

778

#### 778 people are overweight

In [ ]:
ow2 =df.filter((df['bmi']>29)&(df['age']<25)).collect()

In [ ]:
len(ow2)

151

#### 151 people who are overweight are less than 25

In [ ]:
chi=df.filter((df['children']==0)).collect()

In [ ]:
len(chi)

574

#### 574  people have no children covered in insurance

In [ ]:
chi1 =df.filter((df['children']==1)).collect()

In [ ]:
len(chi1)

324

#### 324 people have 1 child covered in insurance

In [ ]:
chiov =df.filter((df['bmi']>29)& ~(df['children']==0)).collect()

In [ ]:
len(chiov)

449

#### 449 people who are overweight have no child covered in insurance

##   PART (4) Group by Aggrigation

In [ ]:
df.show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df.groupBy("region")

In [ ]:
df.groupBy("region").count().show() ## to see how population is distributed in various regions

+---------+-----+
|   region|count|
+---------+-----+
|northwest|  325|
|southeast|  364|
|northeast|  324|
|southwest|  325|
+---------+-----+

In [ ]:
df.groupby("region").count().orderBy("count", ascending=True).show()

+---------+-----+
|   region|count|
+---------+-----+
|northeast|  324|
|northwest|  325|
|southwest|  325|
|southeast|  364|
+---------+-----+

In [ ]:
df.groupby("sex").count().show()
df.groupby("smoker").count().show()
df.groupby("region").count().show()

+------+-----+
|   sex|count|
+------+-----+
|female|  662|
|  male|  676|
+------+-----+

+------+-----+
|smoker|count|
+------+-----+
|    no| 1064|
|   yes|  274|
+------+-----+

+---------+-----+
|   region|count|
+---------+-----+
|northwest|  325|
|southeast|  364|
|northeast|  324|
|southwest|  325|
+---------+-----+

### Now let's see the average/max/min of (age,bmi,children,charges) distributed in regions

In [ ]:
df.groupBy("region").mean().show()
df.groupBy("region").max().show()
df.groupBy("region").min().show()

+---------+-----------------+------------------+------------------+------------------+
|   region|         avg(age)|          avg(bmi)|     avg(children)|      avg(charges)|
+---------+-----------------+------------------+------------------+------------------+
|northwest|39.19692307692308|29.199784615384626|1.1476923076923078|12417.575373969228|
|southeast|38.93956043956044| 33.35598901098903|1.0494505494505495|14735.411437609895|
|northeast|39.26851851851852| 29.17350308641976|1.0462962962962963|  13406.3845163858|
|southwest|39.45538461538462| 30.59661538461538|1.1415384615384616| 12346.93737729231|
+---------+-----------------+------------------+------------------+------------------+

+---------+--------+--------+-------------+------------+
|   region|max(age)|max(bmi)|max(children)|max(charges)|
+---------+--------+--------+-------------+------------+
|northwest|      64|   42.94|            5| 60021.39897|
|southeast|      64|   53.13|            5| 63770.42801|
|northeast|      64|   48.07|            5| 58571.07448|
|southwest|      64|    47.6|            5| 52590.82939|
+---------+--------+--------+-------------+------------+

+---------+--------+--------+-------------+------------+
|   region|min(age)|min(bmi)|min(children)|min(charges)|
+---------+--------+--------+-------------+------------+
|northwest|      19|  17.385|            0|   1621.3402|
|southeast|      18|    19.8|            0|   1121.8739|
|northeast|      18|   15.96|            0|   1694.7964|
|southwest|      19|    17.4|            0|    1241.565|
+---------+--------+--------+-------------+------------+

In [ ]:
df.agg({"bmi":"max"}).show()

+--------+
|max(bmi)|
+--------+
|   53.13|
+--------+

In [ ]:
df.filter("bmi==53.13").show(30)   ##lets see who is this person

+---+----+-----+--------+------+---------+---------+
|age| sex|  bmi|children|smoker|   region|  charges|
+---+----+-----+--------+------+---------+---------+
| 18|male|53.13|       0|    no|southeast|1163.4627|
+---+----+-----+--------+------+---------+---------+

In [ ]:
df.agg({"bmi":"min"}).show()

+--------+
|min(bmi)|
+--------+
|   15.96|
+--------+

In [ ]:
df.filter("bmi==15.96").show(30)   ##lets see who is this person

+---+----+-----+--------+------+---------+---------+
|age| sex|  bmi|children|smoker|   region|  charges|
+---+----+-----+--------+------+---------+---------+
| 18|male|15.96|       0|    no|northeast|1694.7964|
+---+----+-----+--------+------+---------+---------+

In [ ]:
df.agg({"charges":"min"}).show()

+------------+
|min(charges)|
+------------+
|   1121.8739|
+------------+

In [ ]:
df.agg({"charges":"max"}).show()

+------------+
|max(charges)|
+------------+
| 63770.42801|
+------------+

In [ ]:
df.filter("charges==63770.42801").show(30)   ##lets see who is this person

+---+------+-----+--------+------+---------+-----------+
|age|   sex|  bmi|children|smoker|   region|    charges|
+---+------+-----+--------+------+---------+-----------+
| 54|female|47.41|       0|   yes|southeast|63770.42801|
+---+------+-----+--------+------+---------+-----------+

## PART (5) FUNCTIONS

In [ ]:
from pyspark.sql.functions import countDistinct, avg, stddev,max,min
from pyspark.sql.functions import format_number

In [ ]:
df.select(avg("bmi")).show()

+------------------+
|          avg(bmi)|
+------------------+
|30.663396860986538|
+------------------+

In [ ]:
df.select(avg("age")).show()
df.select(stddev("age")).show()
df.select(max("age")).show()
df.select(min("age")).show()

+-----------------+
|         avg(age)|
+-----------------+
|39.20702541106129|
+-----------------+

+------------------+
|  stddev_samp(age)|
+------------------+
|14.049960379216147|
+------------------+

+--------+
|max(age)|
+--------+
|      64|
+--------+

+--------+
|min(age)|
+--------+
|      18|
+--------+

In [ ]:
sd=df.select(stddev("age")).show()

+------------------+
|  stddev_samp(age)|
+------------------+
|14.049960379216147|
+------------------+

In [ ]:
from pyspark.sql.functions import format_number ## lets truncate the value to 2 digits

asd=df.select(stddev("age").alias('std'))
asd.show()

+------------------+
|               std|
+------------------+
|14.049960379216147|
+------------------+

In [ ]:
asd.select(format_number('std',2)).show()

+---------------------+
|format_number(std, 2)|
+---------------------+
|                14.05|
+---------------------+

In [ ]:
asd1=df.select(avg("age").alias('std'))
asd1.show()

+-----------------+
|              std|
+-----------------+
|39.20702541106129|
+-----------------+

In [ ]:
asd1.select(format_number('std',0)).show()

+---------------------+
|format_number(std, 0)|
+---------------------+
|                   39|
+---------------------+

In [ ]:
df.orderBy("charges").show()

+---+----+-----+--------+------+---------+---------+
|age| sex|  bmi|children|smoker|   region|  charges|
+---+----+-----+--------+------+---------+---------+
| 18|male|23.21|       0|    no|southeast|1121.8739|
| 18|male|30.14|       0|    no|southeast|1131.5066|
| 18|male|33.33|       0|    no|southeast|1135.9407|
| 18|male|33.66|       0|    no|southeast|1136.3994|
| 18|male| 34.1|       0|    no|southeast| 1137.011|
| 18|male|34.43|       0|    no|southeast|1137.4697|
| 18|male|37.29|       0|    no|southeast|1141.4451|
| 18|male|41.14|       0|    no|southeast|1146.7966|
| 18|male|43.01|       0|    no|southeast|1149.3959|
| 18|male|53.13|       0|    no|southeast|1163.4627|
| 19|male| 19.8|       0|    no|southwest| 1241.565|
| 19|male| 20.3|       0|    no|southwest|  1242.26|
| 19|male| 20.7|       0|    no|southwest| 1242.816|
| 19|male| 27.6|       0|    no|southwest| 1252.407|
| 19|male| 28.7|       0|    no|southwest| 1253.936|
| 19|male| 30.4|       0|    no|southwest| 1256.299|
| 19|male| 34.1|       0|    no|southwest| 1261.442|
| 19|male| 34.4|       0|    no|southwest| 1261.859|
| 19|male| 35.4|       0|    no|southwest| 1263.249|
| 20|male|33.33|       0|    no|southeast|1391.5287|
+---+----+-----+--------+------+---------+---------+
only showing top 20 rows

In [ ]:
df.orderBy(df["charges"].desc()).show(30)

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 54|female| 47.41|       0|   yes|southeast|63770.42801|
| 45|  male| 30.36|       0|   yes|southeast|62592.87309|
| 52|  male|34.485|       3|   yes|northwest|60021.39897|
| 31|female|38.095|       1|   yes|northeast|58571.07448|
| 33|female| 35.53|       0|   yes|northwest|55135.40209|
| 60|  male|  32.8|       0|   yes|southwest|52590.82939|
| 28|  male|  36.4|       1|   yes|southwest|51194.55914|
| 64|  male| 36.96|       2|   yes|southeast| 49577.6624|
| 59|  male| 41.14|       1|   yes|southeast| 48970.2476|
| 44|female| 38.06|       0|   yes|southeast|48885.13561|
| 63|female|  37.7|       0|   yes|southwest|   48824.45|
| 57|  male| 42.13|       1|   yes|southeast| 48675.5177|
| 60|  male| 40.92|       0|   yes|southeast| 48673.5588|
| 54|  male|40.565|       3|   yes|northeast|48549.17835|
| 61|female|36.385|       1|   yes|northeast|48517.56315|
| 60|  male|  39.9|       0|   yes|southwest|  48173.361|
| 64|female|  33.8|       1|   yes|southwest|   47928.03|
| 59|female|36.765|       1|   yes|northeast|47896.79135|
| 58|  male|36.955|       2|   yes|northwest|47496.49445|
| 51|  male|  42.9|       2|   yes|southeast|  47462.894|
| 61|  male|  36.3|       1|   yes|southwest|   47403.88|
| 63|female|  32.2|       2|   yes|southwest|  47305.305|
| 64|female|  31.3|       2|   yes|southwest|  47291.055|
| 52|  male|  41.8|       2|   yes|southeast|  47269.854|
| 63|  male| 35.09|       0|   yes|southeast| 47055.5321|
| 64|  male| 33.88|       0|   yes|southeast| 46889.2612|
| 62|  male|30.875|       3|   yes|northwest|46718.16325|
| 53|female| 36.86|       3|   yes|northwest| 46661.4424|
| 61|  male| 35.86|       0|   yes|southeast| 46599.1084|
| 51|female| 37.05|       3|   yes|northeast| 46255.1125|
+---+------+------+--------+------+---------+-----------+
only showing top 30 rows

In [ ]:
df.orderBy(df["children"].desc()).show(30)

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 31|  male|  28.5|       5|    no|northeast|   6799.458|
| 49|female|  31.9|       5|    no|southwest|  11552.904|
| 43|  male| 25.52|       5|    no|southeast|14478.33015|
| 19|female|  28.6|       5|    no|southwest|   4687.797|
| 20|female|  37.0|       5|    no|southwest|    4830.63|
| 41|  male| 29.64|       5|    no|northeast|  9222.4026|
| 39|female| 23.87|       5|    no|southeast|  8582.3023|
| 28|  male|  24.3|       5|    no|southwest|   5615.369|
| 33|  male|  42.4|       5|    no|southwest|   6666.243|
| 33|  male| 33.44|       5|    no|southeast|  6653.7886|
| 25|  male|  23.9|       5|    no|southwest|   5080.096|
| 46|  male|  25.8|       5|    no|southwest|   10096.97|
| 39|female|24.225|       5|    no|northwest| 8965.79575|
| 45|  male| 24.31|       5|    no|southeast|  9788.8659|
| 39|female| 34.32|       5|    no|southeast|  8596.8278|
| 20|  male|30.115|       5|    no|northeast| 4915.05985|
| 52|female| 46.75|       5|    no|southeast| 12592.5345|
| 39|female|  18.3|       5|   yes|southwest|   19023.26|
| 26|female| 29.64|       4|    no|northeast|24671.66334|
| 24|  male| 33.63|       4|    no|northeast|17128.42608|
| 25|  male|26.695|       4|    no|northwest| 4877.98105|
| 40|female|  29.3|       4|    no|southwest|15828.82173|
| 40|  male|30.875|       4|    no|northwest| 8162.71625|
| 61|female| 33.33|       4|    no|southeast|36580.28216|
| 49|female| 41.47|       4|    no|southeast| 10977.2063|
| 36|female| 29.04|       4|    no|southeast|  7243.8136|
| 37|  male|  34.1|       4|   yes|southwest|  40182.246|
| 29|female|  25.6|       4|    no|southwest|   5708.867|
| 25|  male| 33.66|       4|    no|southeast|  4504.6624|
| 21|  male|  25.7|       4|   yes|southwest|  17942.106|
+---+------+------+--------+------+---------+-----------+
only showing top 30 rows

##  PART(6) Machine Learning Model

In [ ]:
import numpy as np

from pyspark.ml.feature import StringIndexer, OneHotEncoder 

##One Hot Encoder used for encoding the categorical variables to numerical values.
## ML CANNOT PROCESS NON NUMERIC DATA (IN OUR DATA SEX, REGION AND SMOKER ARE CATEGORICAL)

from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import MinMaxScaler, StandardScaler
from pyspark.ml import Pipeline

#ML Logisitic Regression
from pyspark.ml.classification import LogisticRegression


from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

##Cross validation is used to test/train all data in batches. Helps in forming a clear result

import time

In [ ]:
df.corr("age","charges")

0.299008193330648

In [ ]:
df.corr("age","bmi")

0.1092718815485351

In [ ]:
df.corr("charges","bmi")

0.19834096883362906

In [ ]:
from pyspark.sql.functions import isnan, when, count, col
def get_null_value_count(data):
    data.select([count(when(isnan(c) | col(c).isNull(),c)).alias(c) for c in data.columns]).show() ##

In [ ]:
get_null_value_count(df)

+---+---+---+--------+------+------+-------+
|age|sex|bmi|children|smoker|region|charges|
+---+---+---+--------+------+------+-------+
|  0|  0|  0|       0|     0|     0|      0|
+---+---+---+--------+------+------+-------+

In [ ]:
##vc=VectorAssembler(
  ####outputCol= 'numeric')

##dx=vc.transform(df).select('numeric')

##

In [ ]:
dx.show(30)

+--------------------+
|             numeric|
+--------------------+
|[19.0,27.9,16884....|
|[18.0,33.77,1725....|
|[28.0,33.0,4449.4...|
|[33.0,22.705,2198...|
|[32.0,28.88,3866....|
|[31.0,25.74,3756....|
|[46.0,33.44,8240....|
|[37.0,27.74,7281....|
|[37.0,29.83,6406....|
|[60.0,25.84,28923...|
|[25.0,26.22,2721....|
|[62.0,26.29,27808...|
|[23.0,34.4,1826.8...|
|[56.0,39.82,11090...|
|[27.0,42.13,39611...|
|[19.0,24.6,1837.2...|
|[52.0,30.78,10797...|
|[23.0,23.845,2395...|
|[56.0,40.3,10602....|
|[30.0,35.3,36837....|
|[60.0,36.005,1322...|
|[30.0,32.4,4149.7...|
|[18.0,34.1,1137.0...|
|[34.0,31.92,37701...|
|[37.0,28.025,6203...|
|[59.0,27.72,14001...|
|[63.0,23.085,1445...|
|[55.0,32.775,1226...|
|[23.0,17.385,2775...|
|[31.0,36.3,38711....|
+--------------------+
only showing top 30 rows

In [ ]:
df.select("*").where(df.charges.isNull()).count()

0

In [ ]:
df.dtypes

[('age', 'int'),
 ('sex', 'string'),
 ('bmi', 'double'),
 ('children', 'int'),
 ('smoker', 'string'),
 ('region', 'string'),
 ('charges', 'double')]

In [ ]:
cat_cols = [c[0] for c in df.dtypes if c[1]=='string']

In [ ]:
cat_col=[c[0] for c in df.dtypes if c[1]=="string"]
cat_col

['sex', 'smoker', 'region']

In [ ]:
len(cat_cols)

3

#### 3 are categorical (non numerical)

In [ ]:
cat_si = [c+"_index" for c in cat_cols] 
print (cat_si)

['sex_index', 'smoker_index', 'region_index']

In [ ]:
cat_oh = [c+"_ohe" for c in cat_cols] 
print (cat_oh)

['sex_ohe', 'smoker_ohe', 'region_ohe']

In [ ]:
 labelencoder= StringIndexer(
                        inputCols=cat_cols,
                        outputCols=cat_si
                    )

In [ ]:
indexed = labelencoder.fit(df).transform(df) 
indexed.show()

+---+------+------+--------+------+---------+-----------+---------+------------+------------+
|age|   sex|   bmi|children|smoker|   region|    charges|sex_index|smoker_index|region_index|
+---+------+------+--------+------+---------+-----------+---------+------------+------------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|      1.0|         1.0|         2.0|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|      0.0|         0.0|         0.0|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|      0.0|         0.0|         0.0|
| 33|  male|22.705|       0|    no|northwest|21984.47061|      0.0|         0.0|         1.0|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|      0.0|         0.0|         1.0|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|      1.0|         0.0|         0.0|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|      1.0|         0.0|         0.0|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|      1.0|         0.0|         1.0|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|      0.0|         0.0|         3.0|
| 60|female| 25.84|       0|    no|northwest|28923.13692|      1.0|         0.0|         1.0|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|      0.0|         0.0|         3.0|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|      1.0|         1.0|         0.0|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|      0.0|         0.0|         2.0|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|      1.0|         0.0|         0.0|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|      0.0|         1.0|         0.0|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|      0.0|         0.0|         2.0|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|      1.0|         0.0|         3.0|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|      0.0|         0.0|         3.0|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|      0.0|         0.0|         2.0|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|      0.0|         1.0|         2.0|
+---+------+------+--------+------+---------+-----------+---------+------------+------------+
only showing top 20 rows

In [ ]:
features= indexed.drop('charges','sex', 'smoker', 'region')

In [ ]:
features.show()

+---+------+--------+---------+------------+------------+
|age|   bmi|children|sex_index|smoker_index|region_index|
+---+------+--------+---------+------------+------------+
| 19|  27.9|       0|      1.0|         1.0|         2.0|
| 18| 33.77|       1|      0.0|         0.0|         0.0|
| 28|  33.0|       3|      0.0|         0.0|         0.0|
| 33|22.705|       0|      0.0|         0.0|         1.0|
| 32| 28.88|       0|      0.0|         0.0|         1.0|
| 31| 25.74|       0|      1.0|         0.0|         0.0|
| 46| 33.44|       1|      1.0|         0.0|         0.0|
| 37| 27.74|       3|      1.0|         0.0|         1.0|
| 37| 29.83|       2|      0.0|         0.0|         3.0|
| 60| 25.84|       0|      1.0|         0.0|         1.0|
| 25| 26.22|       0|      0.0|         0.0|         3.0|
| 62| 26.29|       0|      1.0|         1.0|         0.0|
| 23|  34.4|       0|      0.0|         0.0|         2.0|
| 56| 39.82|       0|      1.0|         0.0|         0.0|
| 27| 42.13|       0|      0.0|         1.0|         0.0|
| 19|  24.6|       1|      0.0|         0.0|         2.0|
| 52| 30.78|       1|      1.0|         0.0|         3.0|
| 23|23.845|       0|      0.0|         0.0|         3.0|
| 56|  40.3|       0|      0.0|         0.0|         2.0|
| 30|  35.3|       0|      0.0|         1.0|         2.0|
+---+------+--------+---------+------------+------------+
only showing top 20 rows

In [ ]:
features.columns

['age', 'bmi', 'children', 'sex_index', 'smoker_index', 'region_index']

In [ ]:
from pyspark.ml.feature import VectorAssembler
#let's assemble our features together using vectorAssembler
assembler = VectorAssembler(
    inputCols=features.columns,
    outputCol="features")

In [ ]:
output = assembler.transform(indexed).select('features','charges')

In [ ]:
train,test = output.randomSplit([0.75, 0.25])

In [ ]:
train.show()

+--------------------+-----------+
|            features|    charges|
+--------------------+-----------+
|(6,[0,1],[18.0,23...|  1121.8739|
|(6,[0,1],[18.0,30...|  1131.5066|
|(6,[0,1],[18.0,33...|  1135.9407|
|(6,[0,1],[18.0,33...|  1136.3994|
|(6,[0,1],[18.0,34...|   1137.011|
|(6,[0,1],[18.0,37...|  1141.4451|
|(6,[0,1],[18.0,41...|  1146.7966|
|(6,[0,1],[18.0,53...|  1163.4627|
|(6,[0,1],[21.0,31...|16586.49771|
|(6,[0,1],[23.0,26...|  1815.8759|
|(6,[0,1],[23.0,41...|  1837.2819|
|(6,[0,1],[24.0,32...|  1981.5819|
|(6,[0,1],[24.0,35...|  1986.9334|
|(6,[0,1],[25.0,25...|  2137.6536|
|(6,[0,1],[26.0,35...|  2322.6218|
|(6,[0,1],[27.0,23...|   2483.736|
|(6,[0,1],[27.0,33...|  2498.4144|
|(6,[0,1],[28.0,38...|  2689.4954|
|(6,[0,1],[29.0,27...|  2867.1196|
|(6,[0,1],[34.0,34...|  3935.1799|
+--------------------+-----------+
only showing top 20 rows

In [ ]:
train.count()

981

In [ ]:
from pyspark.ml.regression import LinearRegression
lin_reg = LinearRegression(featuresCol = 'features', labelCol='charges')
linear_model = lin_reg.fit(train)

In [ ]:
trainSummary = linear_model.summary
print("RMSE: %f" % trainSummary.rootMeanSquaredError)
print("\nr2: %f" % trainSummary.r2)

RMSE: 5928.383100

r2: 0.754597

In [ ]:
print("Coefficients: " + str(linear_model.coefficients))
print("\nIntercept: " + str(linear_model.intercept))

Coefficients: [264.55577613774307,321.50371459297503,421.86993937368874,0.4414923022083133,23836.60718334585,237.50868438372711]

Intercept: -12774.432519178095

In [ ]:
def adj_r2(x):
    r2 = trainSummary.r2
    n = df.count()
    p = len(df.columns)
    adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
    return adjusted_r2
adj_r2(train)

0.7533050794407967

In [ ]:
adj_r2(test)

0.7533050794407967

##  PART (7) CLUSTERING

In [ ]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [ ]:
feat_cols=['age',
 'bmi',
 'children']

In [ ]:
vect_assembler=VectorAssembler(inputCols=feat_cols, outputCol='features')

In [ ]:
final_df=vect_assembler.transform(df)

In [ ]:
final_df.head(4)

[Row(age=19, sex='female', bmi=27.9, children=0, smoker='yes', region='southwest', charges=16884.924, features=DenseVector([19.0, 27.9, 0.0])),
 Row(age=18, sex='male', bmi=33.77, children=1, smoker='no', region='southeast', charges=1725.5523, features=DenseVector([18.0, 33.77, 1.0])),
 Row(age=28, sex='male', bmi=33.0, children=3, smoker='no', region='southeast', charges=4449.462, features=DenseVector([28.0, 33.0, 3.0])),
 Row(age=33, sex='male', bmi=22.705, children=0, smoker='no', region='northwest', charges=21984.47061, features=DenseVector([33.0, 22.705, 0.0]))]

In [ ]:
from pyspark.ml.feature import StandardScaler

In [ ]:
scaler=StandardScaler(inputCol='features', outputCol='scaledFeatures')

In [ ]:
scalerModel=scaler.fit(final_df)

In [ ]:
cluster_final_data=scalerModel.transform(final_df)

In [ ]:
cluster_final_data.head()

Row(age=19, sex='female', bmi=27.9, children=0, smoker='yes', region='southwest', charges=16884.924, features=DenseVector([19.0, 27.9, 0.0]), scaledFeatures=DenseVector([1.3523, 4.5751, 0.0]))

In [ ]:
from pyspark.ml.clustering import KMeans

In [ ]:
kmeans3=KMeans(featuresCol='scaledFeatures', k=3)
kmeans2=KMeans(featuresCol='scaledFeatures', k=2)
kmeans4=KMeans(featuresCol='scaledFeatures', k=4)

In [ ]:
model_k3=kmeans3.fit(cluster_final_data)
model_k2=kmeans2.fit(cluster_final_data)
model_k4=kmeans4.fit(cluster_final_data)

In [ ]:
model_k3.transform(cluster_final_data).groupBy('prediction').count().show()

+----------+-----+
|prediction|count|
+----------+-----+
|         1|  488|
|         2|  453|
|         0|  397|
+----------+-----+

In [ ]:
model_k2.transform(cluster_final_data).groupBy('prediction').count().show()

+----------+-----+
|prediction|count|
+----------+-----+
|         1|  641|
|         0|  697|
+----------+-----+

In [ ]:
model_k4.transform(cluster_final_data).groupBy('prediction').count().show()

+----------+-----+
|prediction|count|
+----------+-----+
|         1|  346|
|         3|  286|
|         2|  338|
|         0|  368|
+----------+-----+

# THANKS